# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  affy,
  gcrma
)
importFrom(
    graphics, abline, layout, lines, mtext, plot, text
)
importFrom(
    stats, ks.test, qbeta, quantile, t.test, wilcox.test
)
importFrom(
    utils, read.table
)
